#has-search > summary::before {
    padding: 0 1ex;
    font-family: 'base-ui';
    font-weight: 400;
    content: '\e911';
}

.form.on-plank,
.pagefind-ui {
    margin: 1rem var(--void) 1rem auto;
    width: calc(var(--marginparwidth) - 1rem);
    min-width: 17rem;
    max-height: calc(var(--vbody) - 2rem);
    font-weight: normal;
}

#has-search[open] > summary > .t,
.pagefind-ui__search-clear {
    display: none;
}

/* the search box */

.form.on-plank .form__input {
    flex: 1;
    border-bottom: 2pt solid var(--g18s);
    border-radius: 0.25ex;
    padding: 1ex;
}

#duckduckgo .form__input {
    --ac: #de5833;
}

#mojeek .form__input {
    --ac: #7ab93c;
}

.pagefind-ui__search-input:hover,
.pagefind-ui__search-input:focus,
.form.on-plank .form__input:hover,
.form.on-plank .form__input:focus {
    --anm: underline 127ms ease-in;
    outline: none !important;
    border-color: var(--ac);
    -webkit-animation: var(--anm);
       -moz-animation: var(--anm);
         -o-animation: var(--anm);
            animation: var(--anm);
}

/* the search button */

.form.on-plank .form__button,
.form.on-plank .form__button > img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

#duckduckgo .form__input:hover + .form__button,
#duckduckgo .form__input:focus + .form__button {
    --tsf: scaleX(-1);
}

.form.on-plank .form__button:hover,
.form.on-plank .form__button:focus {
    --tsf: scale(1.1);
}

/* 
form reset not implemented yet

.form:invalid .form__reset {
    opacity: 0;
    pointer-events: none;
}

.form:valid .form__reset {
    opacity: 1;
    pointer-events: all;
} */

@media (max-width: 640px) {

    #has-search .on-deck {
        flex-direction: row-reverse;
    }

    #has-search .t {
        padding: 1ex;
        text-align: unset;
    }

    #search,
    #has-search-fallback {
        position: unset;
        padding: 0;
        width: unset;
        height: unset;
    }

    .pagefind-ui,
    .form.on-plank {
        margin: 0;
        border: unset;
        background: unset;
        padding: 0;
        width: 100%;
    }

    #duckduckgo {
        padding: 1ex;
    }

}