/* this style is used inline in list.html */

.crsl__nav {
    display: flex;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    justify-content: flex-end;
    z-index: 1;
    width: calc(100% - 4rem);
    font-size: var(--small);
}

aside .crsl {
    scroll-snap-type: x mandatory;
}

.slide > .crsl__nav {
    bottom: 0;
}

.crsl__nav > ul {
    overflow-x: auto;
    white-space: nowrap;
}

.crsl nav a {
    display: flex;
    z-index: 2;
    font-size: var(--small);
}

.slide__cover {
    flex: 1 1 40%;
    padding: 1.5rem 0 3.6rem 1.5rem;
    height: 100%;
    max-height: 1024px;
}

.slide__content {
    margin-bottom: auto;
    padding: 0 2rem;
    width: 100%;
    max-height: calc(100% - 3.6rem);
    overflow-y: auto;
}

.slide__content h1.section-title {
    margin: 0 !important;
    padding: var(--smallskip) 0 1ex;
    font-size: var(--Large);
}

.slide__content h2 {
    font-size: var(--large);
}

.slide__content h3 {
    font-size: var(--normalsize);
}

.slide__content p,
.slide__content ul,
.slide__content ol {
    max-width: 36rem;
}

.slide__content .footnotes p,
.slide__cover + .slide__content p {
    max-width: unset;
}

.slide__cover + .slide__content {
    flex: 1 1 60%;
    margin-bottom: 5rem;
    height: unset;
}

.slide__cover img {
    border-radius: 1ex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 2 item */

.slide > nav a {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--fg);
}

@media (max-width: 960px) {

    aside.has-crsl {
        width: unset;
    }

}

@media (max-width: 640px) {

    .crsl__nav {
        right: 0;
        bottom: 0;
        width: 100%;
    }

    .slide__cover img,
    .crsl__nav + .crsl,
    .slide__content {
        height: calc(100% - 3rem);
    }

    .slide > .crsl__nav {
        position: sticky;
        position: -webkit-sticky;
        padding-right: 2ex;
    }

    aside .crsl > div,
    aside .crsl > section,
    aside .slide {
        flex-direction: column;
        justify-content: end;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .slide__cover {
        padding: unset;
        height: unset;
    }

    .slide__cover img {
        position: absolute;
        left: 0;
        border-radius: 1ex;
        padding: 1rem;
        max-width: 100%;
    }

    .crsl__nav + .crsl .slide__cover img {
        height: 100%;
    }

    .slide__content {
        padding: 1rem 2rem;
        max-height: unset;
    }

    .crsl__nav + .crsl .slide__content:first-child {
        margin-bottom: 1rem;
    }

    .slide__cover + .slide__content {
        flex: unset;
        z-index: 0;
        margin: 1rem 2rem 2rem;
        border-radius: 1ex;
        background: var(--bg);
        padding: 1rem;
        width: auto;
    }

    .slide__cover + .slide__content.white {
        background: none;
        color: #fff;
    }

    .slide__cover + .slide__content.black {
        background: none;
        color: #000;
    }

    .crsl__nav > ul.rounded {
        padding: 1ex;
        width: 100%;
        text-align: right;
    }

}