h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: calc(var(--baselineStretch) * 1.144);
    font-weight: 400;
    clear: both;
}

h2,
h3,
h4 {
    margin: var(--bigskip) 0 var(--smallskip);
    font-style: italic;
}

h1 {
    margin: var(--bigskip) 0 var(--smallskip);
    font-size: var(--huge);
}

h2 {
    font-size: var(--LARGE);
}

h3 {
    font-size: var(--Large);
}

h4 {
    font-size: var(--large);
}

h5 {
    margin: var(--smallskip) 0 0;
}

h5,
h6 {
    word-spacing: 16%;
    letter-spacing: 0.16em;
    font: var(--normalsize) var(--sf), sans-serif;
    -webkit-font-feature-settings: 'c2sc' 1;
       -moz-font-feature-settings: 'c2sc' 1;
            font-feature-settings: 'c2sc' 1;
    font-variant-caps: all-small-caps;
}

h6 {
    position: relative;
    float: left;
    margin: 0;
    padding: 0.6ex 0.5em 0 0;
    line-height: 1;
}

/* section labeling */

#content.secnum {
    counter-reset: section;
}

#content.secnum h2,
#content.secnum h3,
#content.secnum h4 {
    position: relative;
    font-style: normal;
}

#content.secnum h2::before,
#content.secnum h3::before,
#content.secnum h4::before {
    position: absolute;
    right: calc(100% + 1rem);
    opacity: 0.86;
    width: max-content;
}

#content.secnum h2::before {
    counter-increment: section;
    content: counter(section) '. ';
}

#content.secnum h2 {
    counter-reset: subsection;
}

#content.secnum h3::before {
    counter-increment: subsection;
    content:  counter(section) '.' counter(subsection)'. ';
}

#content.secnum h3 {
    counter-reset: subsubsection;
}

#content.secnum h4::before {
    counter-increment: subsubsection;
    content: counter(section) '.' counter(subsection) '.' counter(subsubsection)'. ';
}

/* #content.secnum h4 {
    counter-reset: paragraph;
}

#content.secnum h5::before {
    counter-increment: paragraph;
}

#content.secnum h5 {
    counter-reset: subparagraph;
}

#content.secnum h6::before {
    counter-increment: subparagraph;
} */

@media print, (max-width: 810px) {
    #content.secnum h2::before,
    #content.secnum h3::before,
    #content.secnum h4::before {
        position: unset;
        right: unset;
    }
}