
@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.bunny.net/cormorant/files/cormorant-latin-400-normal.woff2) format('woff2');
    size-adjust: 110%;
    ascent-override: 80%;
    descent-override: 28%;
}

@font-face {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.bunny.net/cormorant/files/cormorant-latin-400-italic.woff2) format('woff2');
    size-adjust: 110%;
    ascent-override: 80%;
    descent-override: 28%;
}

@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.bunny.net/cormorant/files/cormorant-latin-700-normal.woff2) format('woff2');
    size-adjust: 110%;
    ascent-override: 80%;
    descent-override: 28%;
}

@font-face {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.bunny.net/cormorant/files/cormorant-latin-700-italic.woff2.woff2) format('woff2');
    size-adjust: 110%;
    ascent-override: 80%;
    descent-override: 28%;
}


/* variable fonts */
/* @font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cormorant/v23/H4clBXOCl9bbnla_nHIq75u9.woff2) format('woff2');
    size-adjust: 110%;
    ascent-override: 80%;
    descent-override: 28%;
}

@font-face {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 300 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cormorant/v23/H4cjBXOCl9bbnla_nHIq6qu_oqM.woff2) format('woff2');
    size-adjust: 110%;
    ascent-override: 80%;
    descent-override: 28%;
} */

:root {
    --rm: 'Cormorant';
}