@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.bunny.net/montserrat/files/montserrat-latin-400-normal.woff2) format('woff2');
    size-adjust: 85%;
    ascent-override: 104%;
    descent-override: 36%;
    line-gap-override: 50%;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.bunny.net/montserrat/files/montserrat-latin-400-italic.woff2) format('woff2');
    size-adjust: 85%;
    ascent-override: 104%;
    descent-override: 36%;
    line-gap-override: 50%;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.bunny.net/montserrat/files/montserrat-latin-700-normal.woff2) format('woff2');
    size-adjust: 85%;
    ascent-override: 104%;
    descent-override: 36%;
    line-gap-override: 50%;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.bunny.net/montserrat/files/montserrat-latin-700-italic.woff2) format('woff2');
    size-adjust: 85%;
    ascent-override: 104%;
    descent-override: 36%;
    line-gap-override: 50%;
}

:root {
    --sf: 'Montserrat';
}